
/*fundo da página*/
body {
	background-image: url('imagens/fundo.png');
	width: 900px;
	font: 16px Arial, Helvetica, sans-serif;
}

#principal {
	width: 900px;
}

#menu {
	background-color: #c5c5b2;
	padding: 15px;
}

/* estiliza os links da div menu */ 
a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

#conteudo {
	background-color: #eBe8d9;
	align-content: center;
	padding: 10px;
}

#rodape {
	font-weight: bold;
	text-align: center;
}

/* estiliza o título da div conteúdo */
h1 {
	color: #828271;
	font-size: 1.2em;
}


.img-campanha {
	border-style: outset;
	border-color: #c3c3ae;
	border-width: 10px;
	border-style: solid;

}